.title {
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 10px; /* Adjusted margins to reduce space */
}

.title h2 {
    font-size: 32px;
    color: #000F38;
    margin: 5px 0; /* Adjusted margin to create balanced spacing */
    text-transform: none;
}
