/* Basic styling for the navbar container */
.navbar-container {
  width: 100%;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: transparent;
}

.logo {
  width: 200px;
  margin-left: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  font-size: 16px;
}

.dark-nav {
  background: #212EA0;
  transition: 0.5s;
}

.menu-icon {
  display: none;
}

/* ----- media query ----------- */
@media (max-width: 1000px) {
  .logo {
    width: 140px;
  }

  nav ul li {
    margin: 10px 15px;
    height: 100%;
  }
}

@media (max-width: 840px) {
  .navbar-container {
    justify-content: space-between;

  }

  .logo {
    width: 140px;
    height:25px;
    margin-left: 10px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
  }

  nav ul {
    position: fixed;
    top: 5%;
    right: 0;
    bottom: 0;
    background: #212EA0;
    z-index: -1;
    width: 90px;
    padding-top: 80px;
    transition: 0.5s;
    flex-direction: column;
    
  }

  .navbar-menu.show {
    z-index: 1;
    right: 0;
  }

  nav ul li {
    display: block;
    margin: 25px 20px;
  }

  .hide-mobile-menu {
    left: -200px;
  }
}
